* {
    margin: 0.2rem;
    font-family: Rubik;
    color: rgb(255 255 255);
}
  
html {
    font-size: 62.5%;
}
  
body {
    display: flex;
    background-color: #A3BCB6;
    background-size: cover;
}
  
* {
    font-size: 1.6rem;
    color: black;
    font-size: medium;
}
  
input {
    background: white;
    color: rgb(7 2 18);
    transition: all 200ms ease;
    border-left: 0 solid transparent;
    border: 0;
    height: .8rem;
    padding: 0 calc(4rem * 0.5);
    border-radius: calc(4rem * 0.3);
    box-shadow: 0 0 2rem rgb(0, 0, 0, 20%);
}
      
input, button {
    border: 0;
    height: 3rem;
    padding: 0 calc(2rem * 0.3);
    border-radius: calc(4rem * 0.3);
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.4);
}

button {
    cursor: pointer;
    background: white;
    color:green;
} 